.icon,
.emoji {
  width: 18px;
  height: 18px;
}

.icon {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #d0d0d0;
  border-radius: 5px;
}

.icon svg {
  display: block;
}

.icon._error {
  background: #ff6262;
}

.icon._loading svg {
  animation: spin 2s linear infinite;
}

.icon._wobble {
  animation: wobble 0.5s 1;
}

@keyframes wobble {
  25% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
