.devTools {
  padding: var(--block-spacing-y) var(--block-spacing-x);
}

#logInfoList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.devToolsTitle {
  font-size: 19px;
  line-height: 24px;
  margin-bottom: 1rem;
}
