.root {

}

.toggle {
  all: unset;

  &:hover {
    background: red;
  }
}

.button {
  background: #ccc;
  display: flex;
}
.subItems {
  list-style: none;
  padding: 10px;
  margin: 0
}
.subItem {
  list-style: none;
  padding: 0;
  margin: 0
}