/* =================================================== */
/* This file contains some default styles for the app */
/* ================================================= */

:root {
  /* font-sizes */
  --font-size-small: 14px;
  --line-height-small: 20px;
  --font-size-main: 16px;
  --line-height-main: 22px;
  /* spacings  */
  --block-spacing-x: 1.5rem;
  --block-spacing-y: 1.5rem;
  --text-hover-color: red;
  --block-hover-color: red;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #ffffff;
}

h1,
h2,
h3 {
  margin-top: 0;
}

body {
  font-size: 15px;
  line-height: 20px;
  color: #37352f;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
  &:hover {
    color: var(--hover-color);
  }
}
